.pageHeader {
    height: 80px;
    align-items: center;
    background-color: bisque;
    min-height: 80px;
    width: 100%;
    padding: 10px;
    display: flex;
    position: sticky;
    font-weight: 400;
    font-size: 25px;
    font-family: Teko;
    z-index: 100;
  }

  .pageHeader ul.nav {
    margin-top: 30px;
  }
  
  .pageHeader ul.nav li {
    display: inline;
    padding: 20px;
    font-size: 1.5em;
    color: brown;
  }
  

  .mainHeader1 {
    position: relative;
    margin-top: 450px;
    margin-left: 100px;
}
.container1 {
  position: relative;
    margin-top: 10px;
    margin-left:100px
}

.bt1 {
  position: relative;
    margin-top: 20px;
    margin-left:100px
}

