.transactionTable {
    top: 50%;
    left: 50%;
    position:absolute;
    margin-top: 300px;
    margin-left: -200px;
    margin-right: auto;
    border: 1px solid #999;
    border-collapse:collapse;
    background-color: antiquewhite; 
}

.transactionTable td, .transactionTable th {
    padding: 3px;
    border: 1px solid #999;
}

